# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Google Drive\RODOLFO BORTOLUZZI\ESTUDOS\URIJudge\1158 Sum of COnsecutive Odd Numbers III\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
